@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
.list {
  padding: 0 25px;
}
.logo {
  display: flex;
  justify-content: center;
  /* margin-left: 10vw; */
  margin-bottom: 20px;
  vertical-align: middle;
  font-style: semi-bold;
  font-size: 24px;
}

.ul {
  margin: auto;
  display: flex;
  justify-content: center;
  list-style: none;
  margin-right: 0;
}

.header {
  /* border-bottom: 2px solid black; */
  margin-bottom: 4vh;
  padding-bottom: 20px;
  margin-top: 20px;
  display: block;
  align-items: center;
  justify-content: space-between;
}
.header p {
  font-family: "Comforter Brush", cursive;
  /* font-size: 40px; */
}
.sidenav {
  font-family: "Comforter Brush", cursive;
  margin-left: 20px;
  font-size: 32px;
  position: fixed;
  top: 2rem;
  /* color: "#cbb8aa"; */
}
@media (min-width: 1024px) {
  .header {
    margin: auto 200px;
  }
  .logo {
    margin-left: 0;
  }
  .ul {
    /* margin: auto; */

    margin-right: 5rem;
  }
}

@media (min-width: 500px) {
  .header {
    /* margin: auto 200px; */
    display: flex;
  }
  .logo {
    margin-left: 10px;
    justify-content: flex-start;
    /* margin-left: 10vw; */
    margin-bottom: 0;
  }
  .ul {
    /* margin: auto; */
    display: flex;
    list-style: none;
    /* margin-right: 5rem; */
    justify-content: flex-end;
  }
}

@media (max-width: 600px) {
  .ul {
    margin-right: 0;
  }
}
