.list {
  padding: 0 25px;
}
.logo {
  display: flex;
  margin-left: 5rem;
  vertical-align: middle;
}

.ul {
  margin: auto;
  display: flex;
  list-style: none;
  margin-right: 5rem;
}

.header {
  border-bottom: 2px solid black;
  margin-bottom: 4vh;
  padding-bottom: 20px;
  margin-top: 20px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
