@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");
.welcome {
  font-family: "Neonderthaw", cursive;
}
.footer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  cursor: pointer;
  overflow-wrap: break-word;
  font-size: 12px;
  margin-top: 50px;
}
.footer p {
  margin-right: 10px;
}

.headerMain {
  margin: 0;
  padding-top: 4vw;
}
@media (min-height: 810px) {
  .footer {
    position: absolute;
    margin-top: 0;
  }
  .headerMain {
    margin: 0 4vw;
    padding-top: 4vw;
  }
}

/* style={{ margin: "0 4vw", paddingTop: "4vw" }} */
