@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");
.welcome {
  font-family: "Neonderthaw", cursive;
}
.footer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  cursor: pointer;
  overflow-wrap: break-word;
  font-size: 12px;
  margin-top: 50px;
}
.footer p {
  margin-right: 10px;
}

.headerMain {
  margin: 0;
  padding-top: 4vw;
}
.mainText {
  /* margin-top: 2rem; */
  font-weight: 500;
  display: flex;
  justify-content: center;
  font-size: 80px;
}

@media (min-height: 810px) {
  .footer {
    position: absolute;
    margin-top: 0;
  }
  .headerMain {
    margin: 0 4vw;
    padding-top: 4vw;
  }
}
@media (min-width: 1400px) {
  .mainText {
    /* margin-top: rem; */
    font-weight: normal;
    font: semi-bold;
    font-size: 100px;
  }
}
